.create-gif {
    align-items: center;
    .camara-svgs {
        width: 100%;
        position: absolute;
        z-index: -1;
        top: 218px;
        .camara {
            align-self: flex-start;
            justify-self: center;
            margin-left: 165px;
            .light-svg {
                position: relative;
                top: -15px;
            }
        }
        .cinta {
            position: relative;
            align-self: flex-end;
            justify-self: center;
            margin-right: 180px;
            top: 85px;
        }
    }
    .content-box {
        justify-content: center;
        align-items: center;
        width: 688px;
        height: 390px;
        border: 1px solid #572EE5;
        margin-bottom: 24px;
        .content {
            width: 480px;
            h1 {
                font-family: $montserrat;
                font-weight: bold;
                font-size: 25px;
                color: #572EE5;
                text-align: center;
                line-height: 35px;

                    span {
                        color: $green-1;
                        }
            }
            p {
                font-family: $roboto;
                font-size: 16px;
                text-align: center;
                line-height: 29px;
            }
        }
        .purple-hover{
            flex-direction: column;
            align-items: center;
            position: fixed;
            width: 480px;
            height: 320px;
            background-color: rgba(0, 0, 255, 0.411);
            z-index: 10;
            .purple-btns{
                flex-direction: row;
                align-self: flex-end;
                margin-bottom: 84px;
                img {
                    margin-right: 12px;
                    margin-top: 11px;
                }
            }
            .spinning-loader {
                margin-top: 122px;
                width: 22px;
                height: 22px;
            }
            p {
                font-family: $montserrat;
                font-weight: bold;
                font-size: 15px;
                color: #FFFFFF;
                text-align: center;
            }
        }
    }
    .controls {
        .controls-main {
            width: 100%;
            flex-direction: column;
            justify-content: center;
            .ovals {
                img {
                    margin-left: 13px;
                    margin-right: 13px;
                }
            }
            .action {
                min-width: 5px;
                height: 22px;
                align-self: flex-end;
                position: relative;
                top: -28px;
                right: 66px;
                .timer, .repeat {
                    font-family: $montserrat;
                    font-weight: bold;
                    font-size: 15px;
                    color: #572EE5;
                    letter-spacing: 0;
                    text-align: center;
                    line-height: 22px;
                }
                .repeat {
                    text-decoration: underline;
                    text-decoration-color: #5ED7C6;
                    text-decoration-thickness: 2px;
                }        
            }
        }
        .sep-line {
            height: 7px;
            width: 796px;
            border-radius: 30px;
            background-color: #572EE5;
        }
    }
    .btn-action {
        margin-top: 20px;
        font-family: $montserrat;
        font-weight: bold;
        font-size: 13px;
        color: #572EE5;
        letter-spacing: 0;
        text-align: center;
        border: 1px solid #572EE5;
        border-radius: 25px;
        border-radius: 25px;
        width: 127px;
        height: 50px;
        background-color: white;

        &:hover {
            background-color: #572EE5;
            color: white;
        }
    }
}

.spinning-loader {
    animation-name: rotate-s-loader;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-timing-function: linear;
    position: relative;
  }

  @keyframes rotate-s-loader {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }