h1, h2 {
    font-family: $montserrat;
}

.line {
    height: 5px;
    background-color: $blue-1;
}

.nav-links {
    color: black;
    position: absolute;
    background-color: rgba(87,46,229,0.90);
    margin-top: 100px;
    width: 100vw;
    height: 2000px;
    z-index: 1;
    margin-left: -20px;
    margin-right: -20px;

    ul {
        margin-top: 17px;
        font-family: $montserrat;
        font-weight: bold;
        font-size: 15px;
        line-height: 60px;
        li {
            // height: 60px;
            color: white;
            a {
                color: white;
            }
        }
    }
}
header {
    .nav-bar {
        margin-left: 20px;
        margin-right: 20px;
        height: 95px;
        
        .nav-header {
            padding-top: 30px;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            .search-bar-nav {
                display: none;
            }

            .hamburger-option {
                height: 15px;
                width: 15px;
                margin-right: 6px;
                justify-content: space-between;
                &.ham-untoggled {
                    span {
                        height: 2px;
                        width: 15px;
                        background-color: $blue-1;
                    }
                }
                &.ham-toggled {
                    #ham-span-1 {
                        height: 2px;
                        width: 21.2px;
                        transform: rotate(45deg);
                        background-color: $blue-1;
                    }
                    #ham-span-2 {
                        height: 2px;
                        transform: rotate(-45deg) translate(5.6px, -6.5px);
                        width: 21.2px;
                        background-color: $blue-1;
                    }
                }
            }
            }
        }
        .search-section {
            align-self: center;
            max-width: 551px;
            align-items: center;
            margin-top: 7px;
            margin-left: 20px;
            margin-right: 20px;
            h1 {
                color: $blue-1;
                font-size: 26px;
                font-weight: bold;
                line-height: 35px;
                width: 85%;
                span {
                    color: $green-1;
                }
            }
            img {
                width: 81.5%;
                margin-top: 31px;
            }
            .search-and-results {
                width: 100%;
                border: 1px solid $blue-1;
                border-radius: 27px;
                align-items: center;
                .search-bar {
                    flex-direction: row;
                    align-items: center;
                    height: 50px;
                    width: 95%;
                    padding-left: 20px;
                    padding-right: 20px;
                    justify-content: space-between;
                    #search-gray {
                        opacity: 0;
                    }
                    img {
                        margin-top: 0;
                        width: 20px;
                    }
                    input {
                        width: 95%;
                        border: none;
                        font-size: 16px;
                        &:focus {
                            outline: none;
                        }
                    }
                }
                .search-result-line {
                    background-color: $gray-2;
                    height: 1px;
                    width: 95%;
                }
                .results {
                    width: 95%;
                    .suggested-results {
                        width: 100%;
                        li {
                            width: 95%;
                            height: 32px;
                            flex-direction: row;
                            align-items: center;
                            justify-content: initial;
                            font-family: $roboto;
                            font-size: 16px;
                            color: $gray-2;
                            img {
                                margin-top: 0;
                                width: 15.8px;
                                margin-right: 6px;
                            }
                        }
                    }
                }
            }
            .trending {
                margin-top: 31px;
                color: $blue-1;
                width: 67%;
                h2 {
                    font-size: 16px;
                    font-weight: bold;
                    line-height: 25px;
                }
                p {
                    font-family: $roboto;
                    font-size: 14px;
                    line-height: 25px;
                }
            }
        }

    }

main {
}

footer {
    .share-section {
        align-items: center;
        p {
            margin-top: 47px;
            font-family: $roboto;
            font-size: 15px;
            letter-spacing: 0;
        }
        .media {
            margin-top: 24px;
            flex-direction: row;
            justify-content: space-between;
            width: 25%;
        }
    }
    .copyright {
        margin-top: 48px;
        p {
            font-family: $roboto;
            font-size: 14px;
            letter-spacing: 0;
            line-height: 20px;
        }
    }
}