.trending-gifos-section{
    margin-top: 54px;
    height: 430px;
    margin-bottom: -10px;
    background-color: $gray-1;
    align-items: center;
    @media (min-width: $screen-lg) {
        height: 700px;
    }
    h2{
        margin-top: 46px;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: $blue-1;
        @media (min-width: $screen-lg) {
            margin-top: 67px;
            font-size: 25px;
        }
    }
    p {
        font-family: $roboto;
        font-size: 16px;
        line-height: 23px;
        width: 44%;
        @media (min-width: $screen-lg) {
            font-size: 18px;
        }
    }
    .trending-carrousel{
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        overflow-x: scroll;
        margin-top: 32px;
        @media (min-width) {
            margin-top: 53px;
            width: 100%;
            overflow-x: scroll;
        }
        .trending-card{
            margin-left: 22px;
            margin-right: 22px;
            img{
                height: 187px;
                width: 243px;
                @media (min-width: $screen-lg) {
                    height: 275px;
                    width: 357px;
                }
            }
            .hover-div{
                display: none;
            }
            &:hover{
                .hover-div {
                    @media (min-width: $screen-lg) {
                    display: block;
                    width: 357px;
                    height: 275px;
                    background: $blue-1-06;
                    position: relative;
                    top: -275px;
                    left: 0;
                    z-index: 2;
                    .btn-grp{
                        flex-direction: row;
                        justify-content: flex-end;
                        padding-top: 10px;
                        padding-right: 10px;
                        img {
                            margin-left: 10px;
                            height: 32px;
                            width: 32px;
                        }
                    }
                    .txt-grp {
                        margin-top: 140px;
                        text-align: start;
                        margin-left: 18.5px;
                        h5 {
                            margin: 0;
                            color: white;
                            font-family: $roboto;
                            font-weight: bold;
                            font-size: 16px;
                        }
                        h6 {
                            margin: 0;
                            color: white;
                            font-family: $roboto;
                            font-weight: bold;
                            font-size: 16px;
                        }
                    }
                }}
            }
        }
    }
}
