
// Fonts
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;

// Colors

$blue-1: #562ee5;
$blue-1-06: #562ee599;
$green-1: #50E3C2;
$gray-1: #F3F5F8;
$gray-2: #9CAFC3;


// screen sizes

$screen-lg: 1000px;