.trending-gifos-section{
    margin-top: 54px;
    height: 430px;
    background-color: $gray-1;
    align-items: center;
    h2{
        margin-top: 46px;
        font-weight: bold;
        font-size: 20px;
        line-height: 30px;
        color: $blue-1;
    }
    p {
        font-family: $roboto;
        font-size: 16px;
        line-height: 23px;
        width: 44%;
    }
    .trending-carrousel{
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
        overflow-x: scroll;
        margin-top: 32px;
        .trending-card{
            height: 187px;
            width: 243px;
            margin-left: 22px;
            margin-right: 22px;
            img{
                min-width: 100%;
                min-height: 100%;
                width: auto;
                height: auto;
            }
        }
    }
}

.card-gif-max {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(255,255,255,0.90);;
    align-items: center;
    .cross {
        margin-top: 64px;
        margin-right: 40px;
        margin-bottom: 78px;
        align-self: flex-end;
        height: 14px;
        width: 14px;
        .cross-div-1 {
            width: 100%;
            height: 2px;
            background-color: $blue-1;
            transform: rotate(45deg) translate(1.5px, 1.5px);
        }
        .cross-div-2 {
            width: 100%;
            height: 2px;
            background-color: $blue-1;
            transform: rotate(-45deg);
        }
    }

    .card-div-max-main {
        img {
            max-width:318px;
            max-height:245px;
            width: auto;
            height: auto;
        }
        .card-div-max-footer {
            flex-direction: row;

            width: 318px;
            .card-div-max-left-txt {
                align-self: flex-start;
                text-align: initial;
                width: 75%;
                h6 {
                    font-family: $roboto;
                    font-size: 15px;
                    margin-top: 14px;
                    margin-bottom: 0;
                    margin-left: 5px;
        
                }
                h5 {
                    font-family: $montserrat;
                    font-size: 16px;
                    margin-top: 6px;
                    margin-bottom: 0;
                }
            }
            img {
                width: 40px;
                height: auto;
            }
        }
    }

}